<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.moiba.ammt.management.service.impl.AmtCdSubMapper">

    <sql id="where_one">
        <if test='useYn != null and useYn != ""'>
            AND t.USE_YN = #{useYn}
        </if>
        <if test='delYn != null and delYn != ""'>
            AND t.DEL_YN = #{delYn}
        </if>
        <if test='mstCd != null and mstCd != ""'>
            AND t.MST_CD = #{mstCd}
        </if>
        <if test='subCd != null and subCd != ""'>
            AND t.SUB_CD = #{subCd}
        </if>
    </sql>

    <sql id="where_list">
        <if test='useYn != null and useYn != ""'>
            AND t.USE_YN = #{useYn}
        </if>
        <if test='delYn != null and delYn != ""'>
            AND t.DEL_YN = #{delYn}
        </if>
        <if test='mstCd != null and mstCd != ""'>
            AND t.MST_CD = #{mstCd}
        </if>
    </sql>

    <select id="selectCdSubOne" parameterType="SearchPageNavigationVO" resultType="AmtCdSubVO">
        SELECT *
        FROM AMT_CD_SUB t
        WHERE 1=1
        <include refid="where_list"/>
    </select>

    <select id="selectCdSubList" parameterType="SearchPageNavigationVO" resultType="AmtCdSubVO">
        SELECT
           SUB_CD
          ,SUB_CD_NM
        FROM AMT_CD_SUB t
        WHERE 1=1
        <include refid="where_list"/>
        ORDER BY SORT ASC
    </select>

    <select id="selectCdSubListTotCnt" parameterType="SearchPageNavigationVO" resultType="int">
        SELECT COUNT(1) as totcnt
        FROM AMT_CD_SUB t
        WHERE 1=1
        <include refid="where_list"/>
    </select>

    <insert id="insertCdSub" parameterType="AmtCdSubVO">
        INSERT INTO AMT_CD_SUB (
            MST_CD
            ,SUB_CD
            ,SUB_CD_NM
            ,SORT
            ,USE_YN
            ,BIGO1
            ,BIGO2
            ,INPT_DT
            ,INPT_ID
            ,UPD_DT
            ,UPD_ID
        ) VALUES (
            #{mstCd}
            ,#{subCd}
            ,#{subCdNm}
            ,#{sort}
            ,#{useYn}
            ,#{delYn}
            ,#{bigo1}
            ,#{bigo2}
            ,NOW()
            ,#{inptId}
            ,NOW()
            ,#{updId}
        );
    </insert>
</mapper>