@charset"utf-8";


@font-face {
    font-family:'Nanum';
    font-weight:500;
    src: url('/resources/font/NanumGothic.eot');
    src: url('/resources/font/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/NanumGothic.woff') format('woff'),
		 url('/resources/font/NanumGothic.ttf') format('truetype');
}
@font-face {
    font-family:'NanumBold';
    font-weight:600;
    src: url('/resources/font/NanumGothicBold.eot');
    src: url('/resources/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/NanumGothicBold.woff') format('woff'),
		 url('/resources/font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
    font-family:'NanumEX';
    font-weight:900;
    src: url('/resources/font/NanumGothicExtraBold.eot');
    src: url('/resources/font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
         url('/resources/font/NanumGothicExtraBold.woff') format('woff'),
		 url('/resources/font/NanumGothicExtraBold.ttf') format('truetype');
}


html { overflow:scroll; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
body,input,textarea{font-size:0.75em; color:#555; font-family:"나눔고딕",NanumGothic,"돋움",dotum,sans-serif;}
select{font-size:13px;color:#333; font-family:"나눔고딕",NanumGothic,"돋움",dotum,sans-serif;font-weight:500}
body,div,h1,h2,h3,ul,li,form,fieldset,label,section,header,article,aside,
nav,time,a,img,address,p,span,dl,dt,dd,legend,input,button,footer,small,figure,figcaption,i{padding:0; margin:0;}
li { list-style:none; }
a { text-decoration:none; color:#333;}
img { vertical-align:top; border:0; }
div,li,input,dl,dt,dd,a,p,img,span,textarea,header,table { box-sizing:border-box; }
table { border-spacing:0; width:100%; border-collapse:separate; }
fieldset { border:0; }
strong { font-weight:normal; }
button { cursor:pointer; border:0; }
em,i { font-style:normal; }
input { vertical-align:top; font-size:13px; font-weight:600; padding-left:5px;}
.hidden { position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; overflow:hidden; }
.lodBg {
    width: 1280px;
    height: 780px;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    opacity: .4;
    z-index: 800;
}

/* layout */
header { width:100%; height:110px; border-bottom:3px solid #3bc4eb; position:relative; z-index:50; }
section.main { background-color:#eef1f2; }
footer { clear:both; height:170px; position:relative; border-top:1px solid #e1e4e5; }
.wrap { width:1000px; height:100%; margin:0 auto; overflow:hidden; }
.main_content { width:101.5%; margin:40px 0 25px; overflow:hidden; }
.left_nav { width:200px; float:left; min-height:500px; }
.subCon_wrap { margin-left:240px; min-height:500px; }

/* header */
h1 a.logo { display:block; float:left; margin-top:13px; width:133px; height:80px; background:url(../img/logo.png) no-repeat; }
.top_util { float:right; margin-top:15px; }
.top_util>div { float:left; position:relative; margin-left:10px; }
.top_util .link .welcome { padding-right:12px; color:#ef4a34; font-size:12px; }
.top_util .link .welcome>strong { font-weight:600; }
.top_util .link>a { line-height:28px; font-size:12px; color:#767676; padding-right:12px; }
.top_util .link>a:before { content:''; display:inline-block; width:1px; height:10px; background-color:#929292; margin-right:12px; position:relative; top:1px; }
.top_util .link>a:first-child:before { display:none; }

.top_util .sign_up .topBtn{
	width:67px; 
	height:28px;
	background:#52C9F3;
	border:none;
	color:#fff;
	text-align:center;
	}
.top_util .sign_up input{
	font-size:12px;
	font-weight:600; 
	width:107px; 
	height:28px; 
	padding:0 5px; 
	border:1px solid #e4e4e4; 
	background-color:#ebebeb; 
	}
.top_util .sign_up .btn_login { width:57px; height:28px; }
.top_util .sign_up a{
	display:inline-block;
	font-size:12px;
	font-weight:600;
	}
.top_util .sign_up a span{
    display: inline-block;
    padding-top: 3px;
    width: 67px;
    height: 28px;
    padding-top: 7px;}

.gnb { height:70px; padding-top:20px; /* padding-left:250px; */ float:right; }
.gnb>ul>li { height:44px; float:left; line-height:30px; position:relative; width:140px; margin:0 10px; text-align:center; }
.gnb>ul>li>a { display:inline-block; font-size:18px; color:#4b4b4b; font-weight:600; height:44px; }
.gnb>ul>li>a:hover { color:#0044af; }

.sub_layer { position:absolute; left:0; width:100%; background:#fff; box-shadow:1px 2px 5px #626262; display:none; opacity:.8; font-weight:600;}
.sub_nav { width:1000px; overflow:hidden; margin:0 auto;    padding-left: 202px; }
.sub_nav>div { float:left; }
.sub_nav ul { float:left; width:159px; height:160px; padding:5px 8px; margin:5px 0; border-left: 2px dotted #76d7fa; box-sizing:border-box; }
.sub_nav ul.firstUl{ border:none }
.sub_nav ul li { text-align:center; line-height:25px; padding:2px 0;  letter-spacing: -1px;}
.sub_nav ul li a { display:block; font-size:14px; color:#4b4b4b; }
.sub_nav ul li a:hover { background-color:#1484cf; -webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px; color:#fff;}


/* main */
.box {overflow:hidden; float:left; background-color: #fff; margin:0 15px 15px 0; position:relative; }
.box.by1 { width:188px; height:172px; }
.box.by2 { width:391px; height:172px; border: 1px solid #E2E2E2;}
.box.by4 { width:391px; height:359px; border: 1px solid #E2E2E2;}

/*메인슬라이드*/
/*.main_visual ul { overflow:hidden; font-size:0; }
.main_visual li { display: inline-block; }
.main_visual li img { position:absolute; left:0; width:100%; top:0; display:none; }
.main_visual li:first-child img { display:block; }
.main_visual button { width:34px; height:34px; position:absolute; top:0; background:url(../img/web/main_bg.png) no-repeat; }
.main_visual button.next_img { right:0; top:50%; background-position:-760px 0; }
.main_visual button.prev_img { left:0; top:50%; background-position:-760px -50px; }
.main_visual button.next_img:hover { background-position:-760px -100px; }
.main_visual button.prev_img:hover { background-position:-760px -150px; }*/
#mContainer {width:100%;}
.mVisualWrap {position:relative;width:100%;height:407px;text-align:center;overflow:hidden;}
.mVisualWrap .mVisualInner {position:relative;width:389px;height:357px;text-align:center;margin:0 auto;}
.mVisualWrap .bxslider {height:357px;}
.mVisualWrap .bxslider img{width:389px;}
.mVisualWrap .bx-controls-direction a {display:block;width:34px;height:34px;position:absolute;top:172px;text-indent:-9999px;background:url(../img/main_bg.png) no-repeat}
.mVisualWrap .bx-controls-direction .bx-prev {left:0px; background-position: 0px -50px}
.mVisualWrap .bx-controls-direction .bx-prev:hover {background-position: 0px -150px;}
.mVisualWrap .bx-controls-direction .bx-next {right:0px; background-position: 0px 0px;}
.mVisualWrap .bx-controls-direction .bx-next:hover {background-position: 0px -100px;}
.mVisualWrap .bx-pager {display:none;}

.box>a { 
	display:block; 
	width:100%; 
	height:100%;  
	border: 1px solid #E2E2E2;
	}
.box>a:hover{ background:#1291C6 !important}
.box>a>i{
	background: url(../img/iconbg.png) no-repeat;
    display: block;
    width: 80px;
    height: 79px;
    text-align: center;
    margin: 30px 50px 17px 50px;
	}
.box>a.box_color{background:#3BC4EB; }
.box>a>i.iconImg1{background-position:0px 0px;}
.box>a>i.iconImg2{background-position: -81px 0px;}
.box>a>i.iconImg3{background-position: -163px 0px;}
.box>a>i.iconImg4{background-position: -253px 0px;}
.box>a>i.iconImg5{background-position: -340px 0px;}
.box>a>i.iconImg6{background-position: -420px 0px;}
.box>a>i.iconImg7{background-position: -511px 0px;}
.box>a:hover>i.iconImg1{background-position:0px -88px;}
.box>a:hover>i.iconImg2{background-position: -81px -88px;}
.box>a:hover>i.iconImg3{background-position: -163px -88px;}
.box>a:hover>i.iconImg4{background-position: -253px -88px;}
.box>a:hover>i.iconImg5{background-position: -340px -88px;}
.box>a:hover>i.iconImg6{background-position: -420px -88px;}
.box>a:hover>i.iconImg7{background-position: -511px -88px;}
.box>a>.title { 
	display: block;
    text-align: center;
    font-size: 18px;
    color: #004d85;
    font-weight: 600;
	}
.box>a:hover>.title {color:#fff;}
.box>a>.fontC {color:#fff;} 
.box>a>span.txt { width:100%; position:absolute; top:70px; font-size:15px; color:#fff; line-height:1.6; font-weight:400; z-index:50; display:none; }

.notice { padding:20px 25px; font-size:14px; color:#545454; }
.notice h3 { margin-bottom:10px; font-size:17px; color:#004d85; font-weight:600; }
.notice .more { display:block; width:34px; height:34px; background:url(../img/ic_bg.png) no-repeat 0 -20px; position:absolute; top:-1px; right:-1px;}
.notice li a { display:inline-block; width:250px; color:#545454; line-height:1.7; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding-right:15px;  font-weight:600;}
.notice li a:before { content:'*'; display:inline-block; position:relative; top:3px; margin-right:5px; }
.notice li span.date { display:inline-block; width:85px; text-align:right; line-height:1.7; overflow:hidden; color:#959595; font-weight:600;}

.appResult{
	overflow:hidden;
	padding:20px;
	font-weight: 600;
	color:#525252
	}
.appResult .appLeft{
	width:30%;
	float:left;
	}
.appResult .appLeft p{
	font-size:16px;
	color:#004d85;
	font-weight:600;
	margin-top:10px;
	}
.appResult .appLeft span.date{
	display:block;
	font-size:15px;
	font-weight:600;
	padding:5px 0 51px 0;
	letter-spacing:-1px;
	}
.appResult .appLeft span.more a{
	font-size:12px;
	color:#cdcdcd;
	}
.appResult div.appRight{
	width:70%;
	float:right;
	height:80px;
	margin-top:26px;
	}
.appResult div.appRight ul{}
.appResult div.appRight ul li{
	margin:10px 0;
	}
.appResult div.appRight ul li span{}
.appResult div.appRight ul li div{
	display: inline-block;
    position: relative;
    width: 165px;
    height: 10px;

	}
.appResult div.appRight ul li div p.graph{
	position:absolute;
	top:0px;
	left:0px;
	height:10px;
	width:150px;
	border-radius:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background:#dcdde0;
	display:inline-block;
	margin-left:10px
	}
.appResult div.appRight ul li div p.graph1{
	width:150px;
	height:10px;
	background:#52c9f3;
	}
.appResult div.appRight ul li div p.graph2{
	width:60px;
	height:10px;
	background:#52c9f3;
	}
.appResult div.appRight ul li div p.graph3{
	width:120px;
	height:10px;
	background:#52c9f3;
	}

.appResult div.appRight ul li span.per{}

/*게시판*/
.bordWrap{width:100%;}
.topMenuWrap{
	width:100%;
	background:#1291C6;
	height:70px;
	}
.topMenu{
	width:1000px;
	margin:0 auto;
	padding:15px 0;
	}
.topMenu p{
	font-size:22px;
	font-weight:600;
	color:#fff;
	display:inline-block;
	margin-right:40px;
	}
.topMenu select{
	width:193px;
	height:36px;
	padding-left:10px;
	font-size:16px;
	}
.bord{
	width:1000px;
	margin:0 auto 130px auto;
	}
.bord h2{
	font-size:40px;
	padding:53px 30px;
	background:url(../img/h2back.png) no-repeat bottom right;
	font-weight: 600;
	}
.bord div.search{
	background:#1291C6;
	color:#fff;
	font-size:18px;
	height:45px;
	padding:7px 26px;
	margin-top:5px;
	}
.bord div.search span{
	font-weight:600;
	display:inline-block;
	margin:0 10px;
	line-height: 28px;
	}
.bord div.search select{
	width:135px;
	height:30px;
	margin-right:20px;
	border:1px solid #A0A0A0
	}
.bord input.searchWord{
	width:730px;
	height:30px;
	border:1px solid #A0A0A0;
	padding-left:10px;
	}
.bord input.searchWord2{width:536px}
.bord input.searchWord1{width:424px}
.bord input.searchBtn{
	width:90px; 
	height:30px;
	background:#52C9F3;
	border:none;
	color:#fff;
	text-align:center;
	cursor:pointer;
	font-size:18px;
	font-weight:600;
	margin-left:5px;
}
.bord .typeWrap{    
    width: 1000px;
    padding: 10px;
    font-weight: 600;
	}
.bord .autoWrap{overflow-y: auto;  height: 230px;}
.bord .autoWrap.autoCode{height: 400px;}
.bord .autoWrap.autoStats{height: 449px;}
.bord .autoWrap.autoTime{height: 380px;overflow-x:auto}
.bord .bordTab{
	border-collapse:collapse;
	width:100%;
	table-layout:fixed;
	font-weight:600;
	}
.bord .bordTabHead{width:98% !important;}
.bord .bordTabStats{width:963px !important;}
.bord .bordTabTime{width:903px !important;}
.codePop .autoWrap{overflow-y: auto;  height: 230px;}
.codePop .autoModal{overflow-y: auto;  height: 274px;}
.codePop .bordTabHead{width:98% !important;}
.bord .bordTab tr{
	height:46px;
	}
.bord .bordTab tr.none:hover{
	background:none;
	cursor:text;
	}
.bord .bordTab tr:hover{
	background:#F4F4F4;
	cursor:pointer
	}
.bord .bordTab th{
	font-size:13px;
	color:#555;
	border-bottom:1px solid #DDDDDD
	}
.bord .bordTab td{
	border-bottom:1px solid #DDDDDD;
	text-align:center;	
	}
.bord .bordTab td.title{
	overflow:hidden;
	white-space:nowrap;
  	text-overflow:ellipsis;
	}
.bord .bordTab td.title a{
	height:46px;
	display:inline-block;
	line-height:44px;
	text-align:left;
	width:850px;
	}
.pagingWrap{
	overflow:hidden;
	position:relative;
	margin-top: 40px;
	margin-bottom:20px;
	}
.pagingWrap .paging{
	position:absolute;
	top:0;
	left:50%;    
	margin-left: -180px;
	float:left;
	line-height: 30px;
	    font-weight: 600;
	}
.pagingWrap .paging li{
	display:inline; 
	padding:3px 4px 3px 8px;
	border-left:1px solid #dcdcdc;
	}
.pagingWrap .paging li span{font-weight:700;}
.pagingWrap .paging li.bn{border:none;}
.codePop .pagingWrap .paging li a.arrowBtn{vertical-align: baseline}
.pagingWrap .paging li a.arrowBtn{
	background:url(../img/arrow.png) no-repeat;
	width:11px;
	height:12px;
	display:inline-block;
	vertical-align: text-top;
	}
.pagingWrap .paging li a.prevBtn{background-position:left bottom;}
.pagingWrap .paging li a.nextBtn{background-position:right bottom;}
.pagingWrap .paging li a.pprev{
	width:14px;
	height:12px;
	background-position:left top}
.pagingWrap .paging li a.nnext{
	width:14px;
	height:12px;
	background-position:right top}
p.btn{
	width:90px; 
	height:30px;
	background:#52C9F3;
	border:none;
	float:right;
	text-align:center;
	font-size:18px;
	font-weight:600;
	margin-right:20px;
}
 p.btn a{
	width:90px; 
	height:30px;
	display:inline-block;
	color:#fff;
	line-height:30px;
	}
.view{
	width:1000px;
	border:2px solid #DCDCDC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top:23px solid #DCDCDC;
	padding:30px 41px;
	}
.view div.floor{
	overflow:hidden;
	margin-bottom:10px;
	}
.view div.floor dl{
	overflow:hidden;
	float:left;
	color:#555;
	font-size:18px;
	font-weight:600;
	height:37px;
	/*margin-right:20px;*/
	}
.view div.floor1 dl.fr{float:right;margin-right: 20px;}
.view div.floor dl dt{
	float:left;
	line-height: 33px;
	margin-right:20px;
	}
.view div.floor dl dd{
	float:left;
	width:150px;
	height:37px;
	border:2px solid #DCDCDC;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align:center;
	line-height: 33px;
	}
.view div.floor dl dd.disable{
   /*border: 1px solid #ccc;*/
    color: #383E4D;
    background: #EEE
	}
.view div.floor2 dl dd{
	width:840px;
	text-align:left;
	border:none
	}
.view div.floor2 dl dd input.titleInput{
	float: left;
    height: 37px;
    border: 2px solid #DCDCDC;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 33px;
	width: 840px;
    padding-left: 10px;
}
.view div.floor3 dl{height:190px}
.view div.floor3 dl dd{
	width:839px;
	border:none;
	}
.view div.floor3 dl dd textarea{
	border:2px solid #DCDCDC;
	resize:none;
	overflow:auto;
	width: 839px;
	height: 176px;
	}
.view div.floor4{overflow:hidden;font-weight:600}
.view div.floor4 p{
	width: 110px;
    height: 25px;
    background: #dddddd;
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: 55px;
    margin-right: 10px;
    float: left;
	}
.view div.floor4 ul{
	float:left;
	width:600px;
	display:inline-block;
	}
.view div.floor4 ul li{
	margin-bottom:5px;
	height:35px;
	}
	/*.view div.floor4 label{
	width:150px;
	height:35px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:2px solid #DCDCDC;
	display:inline-block;
	font-size:18px;
	line-height: 31px;
	text-align: center;
	cursor:pointer;
}
.view div.floor4 input[type="file"]{
width:1px; 
	height:1px; 
	font-size:0; 
	line-height:0; 
	position:absolute; 
	overflow:hidden; 
	visibility:hidden; 
	left:-999px;
	}*/
.view div.floor4 .uploadName { 
	display: inline-block; 
	border: 2px solid #DCDCDC; 
	border-radius: 6px; 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
	width:327px;
	height:39px;
	font-size: 15px;
    padding-left: 6px;
	background:#fff;
	margin-right:10px;
	}
.view .bottomBtn{
	overflow:hidden;
	text-align:right
	}
.view .bottomBtn p{
	display:inline-block;
	margin-right:10px;
	}
.guide{}
.guide div.guideTitle{
	position:relative;
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
	padding-bottom:5px;
	}
.guide div h2{}
.guide div p.txt{
	position: absolute;
    top: 111px;
    left: 33px;
    font-weight: 600;
	}
.guide img{}
.guide div.imgWrap{text-align:center}
.guide div.explain{
	font-size:20px;
	font-weight:600;
	color:#555555;
	background:url(../img/guideBack.png) no-repeat 10px 0;
	padding:30px 0 0 61px;
	margin-top:30px;
	}
.guide div.explain ul{
	padding: 20px 20px 30px 20px;
	background:url(../img/guideBack.png) no-repeat right bottom;
	}
.guide div.explain ul li{
	margin-bottom:15px;
	display:inline-block;
	 text-indent: -40px;
	 width:860px;
	}
.guide div.explain ul li span{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border:2px dotted #0044af;
	text-align:center;
	color:#0044af;
	line-height:26px;
	font-size:15px;
	text-indent: 0;
	}
/*로그인*/
.loginWrap{
	width:590px;
	height:330px;
	margin:100px auto;
	padding-top:30px;
	border:1px solid #F8F8F8;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow:3px 3px 7px #E3E3E3; 
	}
.loginWrap form{	
	text-align:center;
}
.loginWrap form fieldset{
	
	}
.loginWrap form fieldset p{
	margin: 0px auto 22px auto;
	color:#233C95;
	font-weight:700;
	font-size:40px;
	letter-spacing:-2px;
	}
.loginWrap form fieldset input.input_row{
	width:285px;
	height:39px;
	border-radius:20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border:none;
	background:#EBEBEB;
	padding-left:26px;
	font-size:14px;
	font-weight:600;
	margin:5px auto 10px auto;
	display:block;
	}
.loginWrap form fieldset input[type="submit"], .loginWrap .joinPw input[type="submit"]{
	width:285px;
	height:39px;
	border-radius:20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border:none;
	background:#3BC5EC;
	font-size:18px;
	font-weight:600;
	text-align:center;
	color:#fff;
	cursor:pointer;
	margin:0 auto;
	}
.loginWrap ul.joinPw{	
	overflow:hidden;
	font-size:14px;
	color:#8A8A8A;
	font-weight:600;
	height:38px;
	background:#F2F2F2;
	padding:10px 20px;
	margin-top:36px;
	line-height: 38px;
	border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	 width: 549px;
}
.loginWrap ul.joinPw li.fl{float:left;}
.loginWrap ul.joinPw li.fr{float:right;}
.loginWrap ul.joinPw li a{}
.loginWrap.pwChangeWrap{
	height:337px;
	}
.loginWrap.pwChangeWrap legend{
	font-size:32px;
	}
.loginWrap.pwChangeWrap ul.pwSubmit{
	text-align: center;
    height: 57px;
    margin-top: 19px;
	}
.loginWrap.pwChangeWrap ul.pwSubmit input[type="submit"]{margin-top:10px;}

/*앱정보*/
.appWrap .app{    
	margin: 10px 0 65px 0;
    background: #f4f4f4;
    position: relative;
    padding: 20px 0;
	}
.app.appInfo{margin: 20px 0 23px 0;}
.app.action{margin: 10px 0 0px 0;}
.app.end,.app.action {padding: 30px 0 32px 0;}
.appWrap .app p.title{
	width:188px;
	height:36px;
	background:#1291c6;
	color:#fff;
	font-weight:600;
	text-align:center;
	font-size:20px;
	line-height:35px;
	border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0;
    -moz-border-radius: 9px 9px 0 0;
	position: absolute;
    top: -36px;
    left: 28px;
	}
.appWrap .app table{
	width:98%;
	overflow:hidden;
/*	margin-bottom:20px;*/
	}
.appWrap .app table tr{
	height:38px;
	
	}
.appWrap .app table tr th{
	font-weight:600;
	text-align:right;
	color:#555;
	padding-right:10px;
	font-size:15px;
	width:93px;
	}
.appWrap .app table tr td{}
.appWrap .app table tr td input[type="text"],
.appWrap .app table tr td input[type="tel"],
.appWrap .app table tr td input[type="url"],
.appWrap .app table tr td input[type="email"],
.appWrap .app table tr td input[type="password"],
.appWrap .app table tr td select{
	width:100%;
	height:30px;
	border:2px solid #dedede;
	border-radius:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	}
.appWrap .app table tr td input.appName,.appWrap .app.devInfo table tr td input[type="text"],
.appWrap .app table tr td input.appUrl,.appWrap .app.devInfo table tr td input.add{width:100%;}
.appWrap .app table tr td input.datetype{background:url(../img/date.gif) no-repeat 97% 3px #fff;}
.appWrap .app.devInfo table tr td input.devName{width:88%;}
.appWrap .app.devInfo table tr td img.devSearch{display:inline-block;vertical-align:bottom;}
.appWrap .app.moni table th{width:90px; }
.appWrap .app.moni table th.scAdd{letter-spacing:-2px}
.appWrap .app.moni table th.top {vertical-align:top;}
.appWrap .app.moni table td {}
.appWrap .app.moni table td label{
	margin:0 20px 0 5px;
	font-size:14px;
	font-weight:600;
	color:#555555;
	line-height: 13px;
	}
.appWrap .app.moni table td label.otherDev{margin:0 8px 0 50px}
.appWrap .app.moni table td ul.screen{
    width: 880px;
    height: 122px;
    background: #e7e7e7;
    overflow: hidden;
    display: inline-block;
	}
.appWrap .app.moni table td ul.screen.marginT{margin-top:10px;}
.appWrap .app.moni table td ul.screen li{
	float:left;
	margin-top: 12px;
    padding:0 24px;
	}
.appWrap .app.moni table td ul.screen li p.imgs{
	width:128px;
	height:86px;
	background:#e7e7e7;
	text-align: center;
	}
.appWrap .app.moni table td ul.screen li p.imgs img{

	}
.appWrap .app.moni table td ul.screen li p.imgs a{}
.appWrap .app.moni table td ul.screen li span.txt{
	display:block;
	text-align:center;
	margin-top:5px;
	font-size:12px;
	font-weight:600;
	}
.appWrap .app.moni table tr td.screenFile{
	width:200px;
	}
.appWrap .app.moni table tr td.screenFile p.add{
	margin-top: 7px;
    margin-right: 1px;
	}
.appWrap .app.moni table tr td.screenFile div{
	height:30px;
	margin-top:7px;
	display:inline-block;
	width:760px
	}
.appWrap .app.moni table tr td.screenFile div label{margin:0}
.appWrap .app.moni table tr td p{float:right;}
.appWrap .app.moni table tr td select.state{width:78%}
.appWrap .app.moni table tr td input.read{vertical-align: middle;}
.appWrap .app.contents table{padding:15px;}
.appWrap .app.contents table tr.none:hover{
	background:none;
	}
.appWrap .app.contents table tr:hover{
	background:#F4F4F4;
	}
.appWrap .app.contents table tr:first-child{border:none }
.appWrap .app.contents table th{
	border-bottom:2px solid #8b8b8b;
	text-align:center;
	padding-right:0;
	font-size:15px;
	}
.appWrap .app.contents table td{
	border-top:1px solid #dddddd;
	text-align:center;
	font-size:14px;
	font-weight:600;
	color:#757575
	}
.appWrap .app.contents table td.txt, .appWrap .app.contents table th.txt{
	text-align:left;
	}
.appWrap .app.contents table td.txt a{
	width:700px; 
	height:38px; 
	display:inline-block;
	line-height: 36px;
	font-size:14px;
	font-weight:600;
	color:#757575
	}
.appWrap .app.contents table td:first-child{}
.appWrap .app.contents div.bot{overflow:hidden;}
.appWrap .app.contents div.bot .fl{float:left;}
.appWrap .app.contents div.bot .fl dl{
	overflow:hidden;
	}
.appWrap .app.contents div.bot .fl dl dt{
    font-weight: 600;
    color: #555;
    font-size: 15px;
    width: 112px;
    float: left;
    padding-left: 10px;
    margin-right: 10px;
    line-height: 30px;
}
.appWrap .app.contents div.bot .fl dl dd{float:left;}
.appWrap .app.contents div.bot .fl dl dd textarea, .appWrap .app.action div.fl dl dd textarea{
	border:2px solid #DCDCDC;
	resize:none;
	overflow:auto;
	width: 413px;
	height: 70px;
	border-radius:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px
}
.appWrap .app.contents div.bot .fl dl dd textarea.wid{width:600px;}
.appWrap .app.contents div.bot .fr{
	float:left;
	margin-left:15px;
	}
.appWrap .app.contents div.bot .fr dl{
	overflow:hidden;
	
	}
.appWrap .app.contents div.bot .fr dl dt{
	font-weight: 600;
    color: #555;
    font-size: 15px;
    width: 100px;
	float:left; 
	height: 30px;
    line-height: 29px;
	text-align:center;
}
.appWrap .app.contents div.bot .fr dl dd{
	float:left;
	width: 140px;
    height: 30px;
    border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	text-align:center;
	font-size:12px;
	line-height: 25px;
    font-weight: 600;
	background:#fff;
	}
.appWrap .app.contents div.bot .fr dl dd.num{width:90px;}
.appWrap .app.contents div.bot .fr dl dd span{font-weight:700;}
.appWrap .app.contents div.bot .fr .btn{
	overflow:hidden;
	margin-top:7px;
	}
.appWrap .app.contents div.bot .fr .btn p{
	width: 94px;
    height: 30px;
    background: #52C9F3;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
	float:left;
}
.appWrap .app.contents div.bot .fr .btn p.long,.appWrap .app.contents div.bot .fr .btn p.long a{width:138px;}
.appWrap .app.contents div.bot .fr .btn p a{
    width: 90px;
    height: 30px;
    display: inline-block;
    color: #fff;
    line-height: 30px;
}
.appWrap .app.action{
	display: inline-block;
	width: 1000px;
	}
.appWrap .app.action div.fl{float:left;}
.appWrap .app.action div.fl dl{
	overflow:hidden;
	}
.appWrap .app.action div.fl dl dt, .appWrap .app.end dt,.app.change dt{ 
	font-weight: 600;
    color: #555;
    font-size: 15px;
    width: 100px;
    float: left;
	text-align:right;
	margin-right:10px;
	line-height: 29px;
	}
.appWrap .app.action div.fl dl dd{float:left;}
.appWrap .app.action div.fl dl dd textarea{width:576px;}
.appWrap .app.action div.fr{float:left;}
.appWrap .app.action div.fr dl{overflow:hidden;}
.appWrap .app.action div.fr dl dt{
	font-weight: 600;
    color: #555;
    font-size: 15px;
    width: 144px;
    float: left;
    text-align: right;
    margin-right: 10px;
	line-height: 33px;
	}
.appWrap .app.action div.fr dl dd{
    float: left;
    width: 140px;
    height: 30px;
    border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    font-weight: 600;
	margin-top: 3px;
	background:#fff
	}
.appWrap .app.end dl dd textarea	{
	border:2px solid #DCDCDC;
	resize:none;
	overflow:auto;
	width: 870px;
	height: 70px;
	border-radius:6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px
	}
.appWrap .botBtn{
	overflow:hidden;
	text-align:center;
	margin-top:70px;
	}
.appWrap .botBtn p{
    width: 94px;
    height: 30px;
    background: #1291c6;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
	display:inline-block;
	}
.appWrap .botBtn p.del{background:#bbbbbb}
.appWrap .botBtn p a{    
	width: 90px;
    height: 30px;
    display: inline-block;
    color: #fff;
    line-height: 30px;}
.appWrap .appcon table{margin-bottom:6px}
.appWrap .appcon select{text-align:center !important;}
/*.appWrap .appcon select,.appWrap .appcon .devinput{width:92% !important}*/
.appWrap .appcon input[type="text"].appNameID{
	width:100%;
	padding-left:10px;
	font-size: 13px;
    font-weight: 600;
	}
.appcon .date{
	overflow:hidden;
	height:38px;
	}
.appcon .date dl{
	overflow:hidden;
	float:left;
	}
.appcon .date dl dt{    
	font-weight: 600;
    text-align: right;
    color: #555;
    padding-right: 10px;
    font-size: 15px;
    width: 115px;
	float:left;
	line-height: 26px;
	}
.appcon .date dl dt.long{width:120px; } 
.appcon .date dl dd{float:left;line-height: 29px;}
.appcon .date dl dd input[type="text"]{
	width:155px;
    height: 30px;
    border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	}
.appcon .date dl dd div, .appInfo table td div,.statsT div{position:relative;display:inline-block;}
.appInfo table td div{width:100%}
.appInfo table td div.imgUrl{
	border: 2px solid #dedede;
	width:180px; 
	height:80px;
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	background:#fff;
	overflow-wrap: break-word;
    overflow: hidden;
    padding: 3px;
	}
.appInfo table td img.imgWrap{
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	margin-top: 7px;
	border: 2px solid #dedede;
	background:#fff;
	}
.appInfo table td input[type="text"].price{width:101px !important}
.appInfo table td select.won{width:39px  !important;}
.appcon .date dl dd div span{float:left;}
img.ui-datepicker-trigger{
	position:absolute;
	top:5px;
	right:5px;
	cursor: pointer;
	}
select.ui-datepicker-year {vertical-align:top}
.appcon .date dl dd input.datetype{background:url(../img/date.gif) no-repeat 128px 3px #fff;	}
.appcon .date p{
	width: 93px;
    height: 30px;
    background: #52C9F3;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    display: inline-block;
	float:right;
	}
.appcon .date p a{    
	width: 93px;
    height: 30px;
    display: inline-block;
    color: #fff;
    line-height: 30px;
	}
.viewTable {margin-top:20px;}
.viewTable table{
	width:100%;
	
	}
.viewTable table tr{height:40px;}
.viewTable table tr.none:hover{cursor:text;}
.viewTable table tr th{
	background:#1291c6;
	color:#fff;
	font-size:15px;
	font-weight:600;
	}
.viewTable table tr td{
	font-size:14px;
	font-weight:600;
	text-align:center;
	color:#757575;
	border-bottom:1px solid #e2e2e2;
	}
.viewTable table tr.none:hover{background:none;}
.viewTable table tr:hover{background:#F4F4F4;cursor:pointer}
.viewTable .pagingWrap{overflow:inherit}
.app.change {background: #4eb4df;}
.app.change textarea{    
	border: 2px solid #DCDCDC;
    resize: none;
    overflow: auto;
    width: 612px;
    height: 70px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;}
.app.change select{    
	width: 144px;
    height: 30px;
    border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;}  
.app.change dl{overflow:hidden;}
.app.change dt{color:#fff;}
.app.change dd{float:left;}

.appWrap .numInfo{    
	width: 135px;
    height: 30px;
    margin-right: 20px;
    border: 1px solid #A0A0A0;
	}
.appWrap .numInfo1{
width: 211px;margin-right:0}  
.app.collect{margin-top:80px;}
.app.collectInfo{padding:20px 60px}
.app.collect table{}
.app.collect table tr{}
.app.collect table tr th{}
.app.collect table tr td{}
.app.collect table tr td input[type="text"].wid{width:161px;}
.app.collect table tr td input[type="text"].wid.right{float:right;}
.app.collect table tr td select{width:152px;}
.app.collect table tr td input[type="text"].price{width:148px}
.app.collectInfo table tr td.col{width:304px}
.app.collectInfo table tr td input[type="text"].num{width:148px}
.app.collectInfo table tr td ul{overflow:hidden;display:inline-block;}
.app.collectInfo table tr td ul li{
	float:left;
    height: 30px;
    border: 2px solid #dedede;
	width: 155px;
	font-weight:600;
	color:#555555;
	font-size:13px;
	line-height:27px;
	padding-left:5px;
	}
.app.collectInfo table tr td li.per{
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
	background:#fff;
	border-right:0px;
	}
.app.collectInfo table tr td li.per.perDisable{
	background:#dddddd;}
.app.collectInfo table tr td li.data{
	background:#fff;
	border-radius: 0 6px 6px 0;
    -webkit-border-radius:0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
	}
.app.collectInfo table tr td li.dataDisable{background:#dddddd;}
.app.collect table tr td select.won {width:40px;}
.btnWrap{text-align:center}
.btnWrap p{
	display:inline-block;
	float:none;
	background:#1291c6;
	margin-right:0
	}
.btnWrap p.del{
	background:#bbbbbb;
	margin-left:8px;
	}
.appWrap input[type="button"].normal{
    width: 71px;
    height: 26px;
    background: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
	padding-left:0
}
.appWrap input[type="button"].normal:hover{background:#959595;color:#fff}
.appWrap .collectContents{padding: 30px 40px;}
.collectContents div.top{}
.collectContents div.top .topBar{margin-bottom:20px;overflow: hidden;}
.collectContents div.top dl{
	float:left;
	overflow:hidden;
	height:30px;
	background:#dddddd;
	border:1px solid #dddddd;
	width:143px;
	margin:0 10px;
	font-size:15px;
	font-weight:600
	}
.collectContents div.top dl.info{
	width:562px;
	margin-right:32px;
	margin-left:0;
	}
.collectContents div.top dl dt{
	float:left;
	color:#555;
	font-size:15px;
	font-weight:600;    
	line-height: 26px;
    margin-left: 20px;
	}
.collectContents div.top dl dd{
	float:right;
	width:69px;
	height:26px;
	margin-right: 3px;
	background:#fff;
	margin:1px 1px 0 0;
	text-align: center;
    line-height: 26px;
	}
.collectContents div.top dl.info dd{width:457px;}
.progress-out {
    position: relative;
    background-color: #fff;
	height:30px;
}

.progress-in {
    position: absolute;
    height: 100%;
    width: 0%;
    border: none;
    background-color: #3bc5ec;
    text-align: center;
    color: #fff;
    z-index: 1;
	top:0
}
.direction-left{
    left:0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.direction-right{
    right:0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.percent-show {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:#fff;
	font-weight:600;
	font-size:15px;
    text-align: center;
    z-index: 2;
	padding-right: 10px;
}
.percent-show_02{
	background:#ecab3b;
	text-align:right;
	color:#fff;
	padding-right:10px;
	} 
.collectContents div.top dl dd.success{
	background:#3bc5ec;
	color:#fff;
	}
.collectContents div.top dl dd.fail{
	background:#ecab3b;
	color:#fff;
	}
.appWrap .collectContents div.tbScroll{}
.appWrap .collectContents table{
	width:100%;
	table-layout:fixed;   
	border-collapse: collapse;
	}
.appWrap .collectContents table tr{}
.appWrap .collectContents table tr th{    
	text-align: center;
	height:40px;
	background:#1291c6;
	color:#fff;
	padding-right:0;
	}
.appWrap .collectContents table tr td{
	text-align:center;
	background:#fff;
	border:1px solid #e5e5e5
	}
.appWrap .collectContents table tr td.ellipsis{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    padding-left: 5px;
	}
.appWrap input[type="text"].codeName{width:660px}
.appWrap .code{padding:30px 20px;}
.appWrap .code .codeTb{font-weight: 600;}
.appWrap .code .codeTb table{width:100%}
.appWrap .code .codeTb table tr{
	height:40px;
	
	}
.appWrap .code .codeTb table tr th{
	font-size:15px;
	font-weight:600;
	color:#fff;
	background:#1291c6;
	padding-right: 0;
    text-align: center;
	}
.appWrap .code .codeTb table tr td{
	text-align:center;
	font-size:14px;
	font-weight:600;
	color:#757575;
	border-bottom:1px solid #dfdfdf;
	}
.codePop{
	/*position: relative;*/
    width: 609px;
	height:530px;
    border: 2px solid #dddddd;
    font-weight: 600;
    font-size: 15px;
    background: #fff;
    box-shadow: 1px 2px 5px #626262;
	top: 570px;
    left: 50%;
    margin-left: -304px;
    position: absolute;
    z-index: 100;
	padding-bottom:20px;
	}
.codePop div.top{
	height:144px;
	background:#1291c6
	}
.codePop div.top p{
	font-size:22px;
	color:#fff;
	text-align:center;
	padding-top: 46px;
	}
.codePop div.codePopCont{
	width:554px;
	height:349px;
	position:absolute;
	top:95px;
	left:24px;
	padding: 40px 60px 10px 60px;
	background:url(../img/pop.png) no-repeat center  -6px #ebebeb;
	}
.codePop div.codePopCont dl{overflow:hidden;}
.codePop div.codePopCont dl dt{
	width:95px;
	margin-right:10px;
	float:left;
	line-height: 30px;
	margin-bottom:10px;
	text-align:right
	}
.codePop div.codePopCont dl dd{
	float:left;
	margin-bottom:10px;
	width:295px;
	}
.codePop div.codePopCont dl dd input[type="text"]{
	width:214px ; 
	height:30px;
	border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	}

.codePop div.codePopCont dl dd input[type="text"]#number{width:167px}
.codePop div.codePopCont dl dd a{
	background:url(../img/updown.png) no-repeat 0 0; 
	width:10px;
	height:6px;
	display:inline-block;
	}
.codePop div.codePopCont dl dd a.countUp{
	background-position:top left;
	position:absolute;
	top: 9px;
    right: 45%;
	}
.codePop div.codePopCont dl dd a.countDown{
	background-position:0 -9px;
	position:absolute;
	top: 18px;
    right: 45%;
	}
.codePop div.codePopCont dl dd select{
	width:167px; 
	height: 30px;
    border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	display:block;
	}
.codePop div.codePopCont dl dd ul{
	overflow: hidden;
    display: inline-block;
	}
.codePop div.codePopCont dl dd ul li{
    float: left;
    height: 30px;
    border: 2px solid #dedede;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    background: #fff;
    font-weight: 600;
    color: #555555;
    font-size: 13px;
    line-height: 27px;
    padding-left: 5px;
    width: 147px;
}
.codePop div.codePopCont dl dd ul li.data{
    background: #dddddd;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
}
.codePop .btnWrap{margin-top:330px;}
.codePop span{
	position:absolute;
	top: 15px;
    right: 15px;
	}
.typePop div.codePopCont{height: 285px;}
.typePop .btnWrap{margin-top:260px;}
.pagingWrapType{overflow:inherit}
.pagingWrapType ul.paging{top:-20px;}

.developPop{
	width:800px;
	height:687px;
	margin-left:-400px;
	top:130px;
	position:absolute;
	z-index:100
	}
.developPop p.develop{
	background: url(../img/devlopImg.png) no-repeat 289px 37px;
    padding-left: 42px;
    padding-bottom: 10px;
	}
.developPop div.developPopCont{
	width:730px; 
	height:524px;
	padding: 40px 20px 10px 20px;
	}
.developPop div.developPopCont .dlWrap{position:relative;}
.developPop div.developPopCont .dlWrap p.search{
    width: 93px;
    height: 30px;
    background: #52C9F3;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    display: inline-block;
    float: right;
	position:absolute;
	top: 39px;
    right: -15px;
}
.developPop div.developPopCont .dlWrap p.search a{
    width: 93px;
    height: 30px;
    display: inline-block;
    color: #fff;
    line-height: 30px;
}
.developPop div.developPopCont dl dt{
	width: 128px;
    letter-spacing: -1px;
    margin-right: 5px;
	}
.developPop div.developPopCont dl dt.srt{width:97px}
.developPop div.developPopCont dl dd{width: 227px;}
.developPop div.developPopCont dl dd.long{width:456px}
.developPop div.developPopCont dl dd.long input[type="text"]{width:427px}
.developPop div.developPopCont dl dd input[type="text"]{    width: 225px;}
.developPop div.developPopCont div.tabWrap{
	height:325px;
	margin-top:20px;
	}
.developPop div.developPopCont table{
	color:#555;
	font-weight:600;
	table-layout:fixed;
	background:#fff;
	}
.developPop div.developPopCont table tr{}
.developPop div.developPopCont table tr th{
	background:#d8d8d8;
	height:58px;
	font-size:15px;
	border-bottom:2px solid #777777;
	font-weight:600;
	padding-right: 20px;
	}
.developPop div.developPopCont table tr th.first{padding-right:0}
.developPop div.developPopCont table.pad tr th{padding-right:10px}
.developPop div.developPopCont table tr td{
	text-align:center;
	height:68px;
	font-size:12px;
	border-bottom:1px solid #dddddd
	}
.developPop div.developPopCont .pagingWrap{
	overflow:inherit;
	margin-top: 20px;
	}
.developPop div.developPopCont .pagingWrap span{position:inherit;}
.developPop div.developPopCont .btnWrap{margin-top:74px}
.historypop{top:673px}
.historypop p.history{background:url(../img/history.png) no-repeat 302px 47px;}
.historypop div.developPopCont dl{}
.historypop div.developPopCont dl dt{width: 95px;}
.historypop div.developPopCont dl dd{width: 196px;}
.historypop div.developPopCont dl dd input[type="text"]{width: 190px;}
.historypop .btnWrap,.developPop .btnWrap{
	position: absolute;
    bottom: 20px;
    left: 303px;
	}
.appWrap div.stats{height:92px;}
.appWrap div.stats div{display:inline-block;}
.appWrap div.stats input[type="text"]{
	width: 144px;
    height: 30px;
	padding-left:10px;
    border: 1px solid #A0A0A0;
}
.appWrap div.stats input[type="text"].bott{width:737px}
.appWrap div.stats .statsT{}
.appWrap div.stats .statsT .date{position:relative;}
.appWrap div.stats .statsT span.market{width:67px}
.appWrap div.stats .statsB{margin-top:10px;}
.appWrap div.mainCon{
	/*overflow-y:auto;*/
	width:1000px;
	background:#f4f4f4;
	padding:10px;
	font-weight:600;
	height:530px;
	margin-top:20px;
}
.appWrap div.mainCon table{
	table-layout:fixed;
	background:#fff;
	border-collapse:collapse;
}
.appWrap div.mainCon table thead{
	table-layout:fixed;
	width:962px;
	background:#1291c6
}
.appWrap div.mainCon table tr{
	height:30px;
	}
.appWrap div.mainCon table tr th{color:#fff;font-size:14px;border:1px solid #fff;}
.appWrap div.mainCon table tr td{
	text-align:center;
	border:1px solid #dddddd;
	font-size:12px;
	color:#555555
	}
.appWrap div.appTop {    padding: 7px 10px;}
.appWrap div.appTop input[type="text"].appId{width:409px}
.appWrap div.appTop select{width:101px;}
.appWrap div.appTop span.market{margin-left:37px; display:inline-block;}
.appWrap div.bottomBtn{text-align:right;margin-top:20px}
.appWrap div.bottomBtn p{
	display:inline-block;
    height: 30px;
	width:90px;
    background: #52C9F3;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px
	}
.appWrap div.bottomBtn p:hover{background:#1291c6}
.appWrap div.bottomBtn p.down{width:145px}
.appWrap div.bottomBtn p a{
	color:#fff;
	font-weight:600;
	font-size:15px;
	line-height: 30px;
	width:145px;
	height:30px;
	display:inline-block;
	}
.appWrap div.bottomBtn p a.add{width:90px}
.appWrap div.appPaging{overflow:inherit}


/*엑셀업로드*/
.upload{
	width:847px;
	height:283px;
	color:#555555;
	font-weight:600;
	padding:20px 40px;
	}
.upload dl{overflow:hidden;}
.upload dl dt{
	font-size:18px;
	float:left;
	width:76px;
	margin-right:15px;
	margin-top:15px;
	line-height:34px;
	text-align:right
	}
.upload dl dd{margin-top:15px;}
.upload dl dd select{
	width:203px;
	height: 35px;
    border: 2px solid #dedede;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding-left:5px;
}
.upload dl dd input{font-size:12px;}
.upload .uploadName { 
	display: inline-block; 
	border: 2px solid #DCDCDC; 
	border-radius: 6px; 
	-webkit-appearance: none;
	-moz-appearance: none; 
	appearance: none; 
	width:436px;
	height:108px;
	font-size: 15px;
    padding-left: 6px;
	background:#fff;
	margin-right:10px;
	}
.upload label, .upload input[type="submit"]{
	width: 102px;
    height: 29px;
    background: #52C9F3;
    border: none;
    font-weight: 600;
    margin-right: 8px;
    display: inline-block;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.upload input[type="file"]{
	width:1px; 
	height:1px; 
	font-size:0; 
	line-height:0; 
	position:absolute; 
	overflow:hidden; 
	visibility:hidden; 
	left:-999px;
	}
#img100Wrap{
	position:absolute;
	top:300px;
	left:300px;
	z-index:60;
	}
#img100Wrap img{z-index:100}
/* footer */
footer a { display:block; float:left; margin-top:22px; width:116px; height:56px; background:url(../img/logo_foot.png) no-repeat; }
footer .copy {     
	position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #dadada;
    color: #7b7b7b;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
	}
footer .addr { margin-left:190px; padding-top:40px; font-size:15px; color:#909090; line-height:22px; }
footer p{display:inline-block;letter-spacing:-1px}
footer address{display:inline-block;}
footer ul{overflow:hidden;}
footer ul li{float:left;}